$main-font: 'Arial';
$main-color: white;
$content-background-color: #222222;

body {
  margin: 0;

  font-family: $main-font;
  color: $main-color;
  background-color: $content-background-color;
}

@import "nav";
@import "content";
@import "comment-input";
