$content-item-background-color: #292929;
$content-icon-color: #393b3d;

.content {
  &__wrapper {
    padding: 30px 30px 30px 290px;
    min-height: calc(100vh - 60px);
  }

  &__header {
    margin-top: 45px;

    text-transform: uppercase;
    font-size: 16px;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  justify-content: center;
}


.top-section {
  display: flex;
  align-items: center;

  &__avatar {
    margin-left: 50px;

    width: 32px;
    height: 32px;

    border-radius: 16px;
  }

  &__triangle-icon {
    margin-left: 5px;

    color: $content-icon-color;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .content__wrapper {
    padding-left: 60px;
  }
}

@media (max-width: 450px) {
  .top-section {
    &__avatar {
      margin-left: 10px;
    }
  }

  .content__wrapper {
    padding: 30px 10px 10px 10px;
  }
}

@import 'search';
@import 'content-item';