$comments-items-color: #666666;



.content-item {
  &__wrapper {
    position: relative;
  }

  &__body {
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;

  padding: 20px 20px 0;

  height: calc(100% - 20px);

  font-size: 14px;
  background-color: $content-item-background-color;

  &__title {
    margin-block-start: 0;
    margin-block-end: 20px;

    line-height: 30px;
    font-size: 22px;
    text-transform: capitalize;
  }

  &__comments-count {
    margin-top: auto;
    margin-bottom: 20px;

    font-size: 14px;
    color: $comments-items-color;
  }
}

.content-item-active {
  &__wrapper {
    position: relative;
  }

  z-index: 2;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px 30px 0;
  box-sizing: content-box;
  border-radius: 5px;
  box-shadow: 0 0 10px #202020;

  font-size: 14px;
  background-color: $content-item-background-color;

  &>div {
    margin-bottom: 20px;
  }

  &__title {
    margin-block-start: 0;
    margin-block-end: 0;

    line-height: 30px;
    font-size: 22px;
    text-transform: capitalize;
  }

  &__comments-count {
    margin-top: auto;

    font-size: 14px;
    color: $comments-items-color;
  }

  &__comments-header {
    color: $comments-items-color;
    margin-bottom: 20px;
  }

  &__comment hr {
    border: 0.5px solid #202020;
    box-sizing: border-box;
    margin: 20px 0;
  }

  &__comment:last-child hr {
    display: none;
  }

  &__add-comment-button {
    margin-bottom: 20px;

    width: 100%;

    line-height: 30px;
    color: $comments-items-color;
    background-color: $content-item-background-color;
    border: 1px solid $comments-items-color;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    &:hover {
      color: white;
      background-color: $comments-items-color;
    }

    &:active {
      transform: scale(0.99);
    }
  }
}



.comments-icon {
  width: 12px;
  height: 12px;

  #ellipse, #triangle {fill: #666666;}
}

