.nav-item {
  &__wrapper {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: $nav-active-color;
    }
  }

  &__left-margin {
    width: 5px;
    height: 50px;
  }

  &__avatar,
  &__all-avatar {
    width: 32px;
    height: 32px;

    margin: 0 10px 0 25px;

    border-radius: 16px;
  }

  &__all-avatar {
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    background-color: #656769;
  }
}

.-nav-item-left-margin-active {
  background-color: #009c64;
}

.-nav-item-active {
  background-color: #005d3f;
}